<table border = 1>
<% @contactos.each do |c| %>
	<tr>
		<td><%= c.nombre %></td>
		<td><%= c.apellido %></td>
		<td><%= c.telefono %></td>
		<td><%= c.correoElectronico %></td>
		<td><%= c.direccion %></td>
		<td><a href= <%=edit_contacto_path(c) %>>editar</a></td>
	</tr>
<% end %>
</table>