
<%= form_for @order do |f| %>
	<%= f.label  :date %>
	<%= f.text_field :date %>
	<%= f.label  :distance %>
	<%= f.number_field :distance %>
  <br>
  <h1>informacion de la evaluacion</h1>
    <%= fields_for :evaluation, @order.evaluation do |eval|%>
      description: <%=eval.text_field :description%>
      <br>
      note: <%= eval.number_field :note %>
    <% end %>
	<%= f.submit %>
<% end %>
