<table border = 1>
	<% @empresas.each do |e|%>
    <tr>
      <td><%= e.razonSocial %></td>
      <td><%= e.nit %></td>
      <td><%= e.direccion %></td>
      <td><%= e.telefono %></td>
      <td><%= e.fax %></td>
      <td><%= e.sitioWeb %></td>
      <td><a href= <%=edit_empresa_path(e) %>>editar</a></td>
  </tr>
    </tr>
  <% end %>
</table>